.Body{
    margin:0;
    width: 100%;
    padding:0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
}
.preview-container {
    background-color: black;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
.loading-text{
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 20%;
}
.preview-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  }
  .image-tags {
    font-size: 2.9rem;
    margin: 40px;
    color: #cccccc;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder; 
  }
  .Type{
    text-align: center;
    margin-bottom: 40px;
    text-decoration:double underLine;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
 